/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg,rgb(1, 0, 10) 0%, rgb(223, 223, 226) 35%, rgb(60, 60, 61) 100%);
}
